# rasters
*.map
*.tif
*.tiff
*.nc
*.NC
*.xml

# non-raster data files
*.txt
*.xlsx
*.npy


# IMAGE data files
*.const
*.OUT

# model output rasters

# data folders
imagelcm/data/
imagelcm/outputs/

# sphinx build filetypes
*.html
*.doctree
*.js
*.css
